<!-- This is the parent container for the component -->
<div class="blurred-container">
    <!-- This is the blurred content -->
    <div class="content">
      <h3>Note Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
      <ul>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
        <li>Point one of the note</li>
        <li>Point two of the note</li>
        <li>Additional detail</li>
      </ul>
      <!-- Add more fake data if needed -->
    </div>
  
    <!-- This is the overlay with a lock image and text -->
    <div class="blurred-overlay">
      <img src="assets/dashboard/lock.png" alt="Under Development">
      <p class="development-text">Taking Note feature is under development</p>
    </div>
  </div>
  