<div class="modal-backdrop" *ngIf="show">
    <div class="modal">
      <h2 class="modal-title">Special Thanks</h2>
      <div class="modal-content">
        <p>The content of this modules and the materials are, in large part, from 
          <a href="https://learning.chaincode.com/#FOSS" target="_blank" rel="noopener noreferrer"><b>Chaincode Labs</b></a>. 
          I would like to extend my gratitude to Chaincode Labs for their effort in putting this together.
        </p>
      </div>
      <div class="modal-actions">
        <button class="modal-close-button" (click)="close()">Close</button>
      </div>
    </div>
  </div>
  