<div class="card-container" *ngIf="tools; else loadingTemplate">
  <h2 class="tools-title">Essential Tools for Your FOSS Coding Journey</h2>

    <div class="card-grid">
      <div class="card" *ngFor="let tool of tools">
        <div class="card-header">
          <div class="icon-container" [ngStyle]="{'background': getGradient(tool.color)}">
            <img [src]="tool.headerIconUrl" [alt]="tool.title" class="card-header-icon">
          </div>
          <button class="visit-btn">
            <i class="fas fa-globe"></i> Visit Website
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ tool.title }}</h5>
          <p class="card-text">
            {{ tool.description }}
          </p>
        </div>
        <div class="card-footer">
          <img [src]="tool.footerIconUrl" [alt]="tool.title" class="card-footer-icon">
          <span>{{ tool.footerText }}</span>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #loadingTemplate>
    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
  </ng-template>