/* In markdown-dark-theme.css */
.markdown-body {
    background-color: #111b21; /* GitHub dark mode background */
    color: #c9d1d9; /* GitHub dark mode text */
    margin: 30px 0;
  }
  
  .markdown-body * {
    color: #c9d1d9; /* Ensure all text is visible on dark background */
  }
  
  /* You might need to override other specific elements, like links, code blocks, etc. */
  .markdown-body a {
    color: #58a6ff; /* GitHub dark mode link color */
  }
  
  .markdown-body code {
    background-color: #161b22; /* Slightly lighter than the background for contrast */
    color: #c9d1d9;
  }
  
 ::ng-deep .markdown-body pre {
    color: #ffffff;
    background-color: #1a2b33;
  }
  /* Add more overrides for other elements as needed */
  
.exercise-container {
    background-color: #111b21;
    color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-top: 60px;
    width: 60%;
    .exercise-title {
      font-size: 40px;
      margin-bottom: 16px;
    }
  
    .exercise-description {
      font-size: 16px;
      margin-bottom: 12px;
    }
  
    .exercise-hint {
      font-style: italic;
      margin-bottom: 12px;
    }
  
    .exercise-expected-submissions {
      margin-top: 12px;
      p {
        background-color: #414141; // Different background for submissions section
        padding: 10px;
        border-radius: 4px;
      }
    }
  
    button {
      padding: 10px 20px;
      border-radius: 4px;
      margin-right: 8px;
      cursor: pointer;
      font-size: medium;
      font-weight: 900;
      margin: 25px 0;
      background-color: #111b21; 
      color: #eeede1;
      border: 1px solid #eeede1;     
      &:hover {
        background-color: #eeede1;
        color: black;
      }
    }
  }
  
  .loading {
    color: #ffffff;
    text-align: center;
  }
  
  .error {
    color: #ff6b6b;
    text-align: center;
  }
  