   <div class="exercise-container"  *ngIf="!loading && !error; else loadingOrErrorTemplate" >
    <h1 >{{currentProblem?.title}}</h1>
    <p>{{currentProblem?.overview}}</p>
    <ng-container *ngFor="let section of currentProblem?.sections">
      <!-- <h4>{{section.title}}</h4> -->
      <ng-container *ngIf="section.isLink">
        <div *ngIf="section.path && readmeHtmlMap[section.path]" class="markdown-body" [innerHTML]="readmeHtmlMap[section.path]">
          <!-- README content will be rendered here -->
        </div>
        <div *ngIf="!section.path || !readmeHtmlMap[section.path]" class="loading-indicator">
          Loading README...
        </div>
      </ng-container>
    </ng-container>
    <div class="exercise-actions">
      <button class="start-exercise-btn">Start Coding</button>
    </div>
  </div>
    
  <ng-template #loadingOrErrorTemplate>
    <div *ngIf="loading" class="loading">Loading exercise...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
  </ng-template>