.resource-container {
  }
  .references-header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #343437;
    color: #eeede1;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    flex-shrink: 0;
    font-size: xx-large;
    font-weight: normal;

  }
  .search-bar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category-tabs {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #343437;
    color: #eeede1;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    flex-shrink: 0;
    font-size: xx-large;
    font-weight: normal;
  }
  
  .category-tabs button {
    padding: 10px 20px;
    background-color: #111b21;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #eeede2;

  }
  
  .category-tabs button:hover,
  .category-tabs button.active {
    background-color: #e6b800;
  }
  
  .resource-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 50px;
  }
  
  .resource-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .resource-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .resource-card h3 {
    margin: 0;
    color: #333;
  }
  
  .resource-card p {
    color: #666;
  }
  
  .resource-card a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #1a73e8;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .resource-card a:hover {
    background-color: #0056b3;
  }
  