<div class="content-container">
  <div class="header">
    <div class="exercise-buttons">
      <button *ngFor="let question of currentExercise?.questions; let i = index" (click)="loadQuestion(question)">
        Question {{ i + 1 }}
      </button>
    </div>
    <div class="language-selector">
      <label for="language">Language:</label>
      <select id="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
        <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
      </select>
    </div>
  </div>
  <div class="coding-exercise-container">
    <div class="left-panel" *ngIf="currentQuestion">
      <div class="task-description">
        <h2>{{ currentQuestion.title }}</h2>
        <p *ngIf="!currentQuestion.isLink">
          <strong>Question:</strong> {{ currentQuestion.content }}
        </p>
        <div *ngIf="currentQuestion.isLink">
          <strong>Question:</strong>
          <div class="markdown-body" [innerHTML]="readmeHtml">
            <!-- README content will be rendered here -->
          </div>
        </div>

        <div *ngIf="currentQuestion.isLink && !readmeHtml" class="loading-indicator">
          Loading README...
        </div>
      </div>
    </div>
    <div class="right-panel">
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (onInit)="onEditorInit($event)">
      </ngx-monaco-editor>
      <span class="execution-disclaimer">* Code execution not currently available. Feature in development.</span>
      <div class="output">
        <h3>Expected Output</h3>
        <div class="toggle-container">
          <input type="checkbox" id="toggleOutputCheckbox" (change)="toggleOutputVisibility()" hidden>
          <label for="toggleOutputCheckbox" class="toggle-label">
            <span class="slider"></span>
          </label>
        </div>
        <pre [class.blurred]="!showOutput">{{ currentQuestion?.expectedOutput }}</pre>
      </div>
    </div>
    
</div>